# ignore all
*

# Unignore all with extensions
!*.*

# Unignore all directories
!*/

### Above combination will ignore all files without extension ### 

# Igonore Emacs files
*.swp

__pycache__
*-main.py
